@media (max-width: 450px) {
	#about {
		margin-top: calc(59/390*100vw);
		padding: 0 calc(20/390*100vw);
		row-gap: calc(36/390*100vw);
	}
	
	.about-row-1 {
		justify-content: center;
	}
	.about-row-1 > .title {
		width: calc(216/390*100vw);
	}
	.about-row-1 > p {
		display: none;
	}
	
	.about-row-2 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		row-gap: calc(40/390*100vw);
	}
	.about-row-2 > img {
		width: 100%;
	}
	
	.about-descr {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		row-gap: calc(34/390*100vw);
	}
	.about-descr > .title {
		display: none;
	}
	.about-descr > p {
		font-size: var(--fz-mob-1);
		line-height: calc(22/390*100vw);
		text-align: justify;
		padding: 0 calc(10/390*100vw);
	}
	.about-descr > a {
		width: calc(276/390*100vw);
		height: calc(56/390*100vw);
	}
}
