@media (max-width: 450px) {
	#hero {
		row-gap: calc(53/390*100vw);
		padding: calc(143/390*100vw) calc(20/390*100vw) 0;
		box-shadow: inset 0px calc(-380/390*100vw) 50px 0px var(--color-bg);
	}

	.hero-row-1 {
		flex-direction: column-reverse;
		row-gap: calc(40/390*100vw);
		padding: 0 calc(15/390*100vw);
	}
	.hero-row-1 img {
		width: 100%;
	}
	.hero-welcome {
		row-gap: calc(20/390*100vw);
		width: calc(298/390*100vw);
	}
	.hero-welcome h1 {
		font-size: var(--fz-mob-4);
		line-height: calc(29/390*100vw);
		text-align: center;
		margin-bottom: 0;
	}
	.hero-welcome h1 span:nth-child(1) {
		font-size: var(--fz-mob-7);
		line-height: calc(44/390*100vw);
	}
	.hero-welcome h1 span:nth-child(2) {
		font-size: var(--fz-mob-6);
		line-height: calc(49/390*100vw);
	}
	.hero-welcome p {
		display: none;
	}
	.hero-welcome a {
		width: calc(292/390*100vw);
		height: calc(52/390*100vw);
	}
	.hero-welcome a::after {
		display: none;
	}

	.hero-bg-line-bunch{
		transform: translate(20%, 76%) scale(3.1);
	}
	.hero-bg-line-left {
		display: none;
	}

	.hero-row-2 {
		position: relative;
		width: 100%;
		height: calc(109/390*100vw);
		padding: 0;
	}
	.hero-card-viewer {
		justify-content: start;
		width: calc(277/390*100vw);
		overflow: hidden;
	}
	.hero-button-prev,
	.hero-button-next {
		width: calc(22.5/390*100vw);
	}
	.hero-button-prev {
		left: calc(10/390*100vw);
	}
	.hero-button-next {
		right: calc(10/390*100vw);
	}
	.hero-card {
		width: calc(277/390*100vw);
		column-gap: calc(10/390*100vw);
		padding: calc(20/390*100vw) calc(22/390*100vw);
	}
	.hero-card:nth-child(2) {
		border: none;
	}
	.hero-card:nth-child(1) img {
		width: calc(30/390*100vw);
	}
	.hero-card:nth-child(2) img {
		width: calc(40/390*100vw);
	}
	.hero-card:nth-child(3) img {
		width: calc(48/390*100vw);
	}
	.hero-card p {
		display: none;
	}
	.hero-card a {
		white-space: normal;
		font-size: var(--fz-mob-2);
		line-height: calc(17/390*100vw);
	}
}