/*GENERAL========================================================================*/
:root {
	--ff-main: "Montserrat", sans-serif;

	--fw-reg: 400;
	--fw-bold: 700;

	--fz-1: calc(12/1440*100vw);
	--fz-2: calc(14/1440*100vw);
	--fz-3: calc(16/1440*100vw);
	--fz-4: calc(24/1440*100vw);
	--fz-5: calc(32/1440*100vw);
	--fz-6: calc(36/1440*100vw);
	--fz-7: calc(40/1440*100vw);
	--fz-8: calc(46/1440*100vw);

	--color-main-light: #FFFFFF;
	--color-main-dark: #343045;
	--color-bg: rgb(48, 44, 66);
}

body {
	position: relative;
	font-family: var(--ff-main);
	background-color: var(--color-bg);
}

a{
	text-decoration: none;
}

ul {
	list-style: none;
}

.button-gradient {
	font-weight: var(--fw-bold);
	font-size: var(--fz-1);
	color: var(--color-main-dark);
	text-transform: uppercase;
	background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
	border-radius: 40px;
}

/*HEADER========================================================================*/

header,
header > *,
.header-logo,
nav[role="primary"],
nav[role="primary"] > *,
a {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}

header {
	position: absolute;
	z-index: 2;
	inset: auto 0;
	column-gap: calc(205/1440*100vw);
	padding: calc(50/1440*100vw) calc(84/1440*100vw) 0;
}

nav[role="primary"] {
	column-gap: calc(140/1440*100vw);
}

.header-logo {
	column-gap: calc(15/1440*100vw);
}
.header-logo img:nth-child(1) {
	width: calc(102/1440*100vw);
}
.header-logo img:nth-child(2) {
	width: calc(76/1440*100vw);
}

.nav-left {
	column-gap: calc(41/1440*100vw);
}

.nav-left li a {
	font-weight: var(--fw-bold);
	font-size: var(--fz-1);
	color: var(--color-main-light);
	text-transform: uppercase;
}

.nav-right {
	column-gap: calc(38/1440*100vw);
}

.nav-right li a {
	width: calc(155/1440*100vw);
	height: calc(48/1440*100vw);
}

.nav-right li:nth-child(1) a {
	font-weight: var(--fw-bold);
	font-size: var(--fz-1);
	color: var(--color-main-light);
	text-transform: uppercase;
	border: 2px solid var(--color-main-light);
	border-radius: 40px;
}

.hamburger-menu {
	display: none;
}
/*HERO========================================================================*/

#hero {
	display: flex;
	flex-direction: column;
	row-gap: calc(103/1440*100vw);
	position: relative;
	padding: calc(265/1440*100vw)  0 calc(63/1440*100vw);
}

.hero-row-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 calc(102/1440*100vw) 0 calc(84/1440*100vw);
}

.hero-row-1 img {
	width: calc(490/1440*100vw);
}

.hero-welcome {
	display: flex;
	flex-direction: column;
	width: calc(456/1440*100vw);
}

.hero-welcome h1  {
	font-weight: var(--fw-bold);
	font-size: var(--fz-7);
	line-height: calc(49/1440*100vw);
	color: var(--color-main-light);
	margin-bottom: calc(36/1440*100vw);
}

.hero-welcome h1 span {
	font-weight: inherit;
	font-size: var(--fz-8);
	line-height: calc(56/1440*100vw);
	background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.hero-welcome p {
	font-weight: var(--fw-reg);
	font-size: var(--fz-3);
	line-height: calc(20/1440*100vw);
	color: var(--color-main-light);
	margin-bottom: calc(65/1440*100vw);
}

.hero-welcome a {
	position: relative;
	width: calc(214/1440*100vw);
	height: calc(48/1440*100vw);
}

.hero-welcome a::after {
	content: '';
	position: absolute;
	right: -40%;
	width: calc(42/1440*100vw);
	height: calc(33/1440*100vw);
	background: url(../icons/arrow.svg) center center / cover no-repeat;
}

.hero-row-2 {
	padding: 0 calc(84/1440*100vw);
}

.hero-support {
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
	border-radius: 90px;
	padding: calc(25/1440*100vw) 0;
}

.support-card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: calc(15/1440*100vw);
	padding: calc(35/1440*100vw) calc(50/1440*100vw);
}

.support-card:nth-child(1) img {
	width: calc(40/1440*100vw);
}
.support-card:nth-child(2) img {
	width: calc(50/1440*100vw);
}
.support-card:nth-child(3) img {
	width: calc(58/1440*100vw);
}

.support-card-descr {
	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: calc(9/1440*100vw);
}

.support-card p {
	font-weight: var(--fw-bold);
	font-size: var(--fz-4);
	line-height: calc(29/1440*100vw);
	color: var(--color-main-light);
}

.support-card a {
	display: block;
	font-weight: var(--fw-reg);
	font-size: var(--fz-2);
	line-height: calc(17/1440*100vw);
	color: var(--color-main-light);
}

.support-card:nth-child(2) {
	border: solid rgba(192, 183, 232, 0.33);
	border-width: 0 1px;
}

.bg-line-bunch {
	width: calc(735/1440*100vw);
	height: calc(845/1440*100vw);
	position: absolute;
	inset: 0 0;
	transform: translate(95%, 0);
	z-index: -1;
	background: url(../img/bg-lines-bunch.png) 0 0 / cover no-repeat;
}

.bg-line-left {
	width: calc(238/1440*100vw);
	height: calc(561/1440*100vw);
	position: absolute;
	top: 26%;
	left: 0;
	z-index: -1;
	background: url(../img/bg-line-left.png) 0 0 / cover no-repeat;
}

/*MEDIA========================================================================*/

@media (max-width: 390px) {
	header {
		justify-content: space-between;
		padding: calc(25/390*100vw) calc(20/390*100vw);		
	}

	.header-logo {
		column-gap: calc(10/390*100vw);
	}
	.header-logo img:nth-child(1) {
		width: calc(69/390*100vw);
	}
	.header-logo img:nth-child(2) {
		width: calc(46/390*100vw);
	}

	nav[role="primary"] {
		display: none;
	}

	.hamburger-menu {
		display: block;
		width: calc(33/390*100vw);
		height: calc(26/390*100vw);
		background: url(../icons/hamburger-button.svg) no-repeat;
	}

	#hero {
		row-gap: calc(53/390*100vw);
		padding: calc(143/390*100vw) calc(20/390*100vw) calc(38/390*100vw);
		box-shadow: inset 0px calc(130/390*100vw) 30px 0px var(--color-bg),
					inset 0px calc(-410/390*100vw) 50px 0px var(--color-bg);
	}

	.hero-row-1 {
		flex-direction: column-reverse;
		row-gap: calc(40/390*100vw);
		padding: 0 calc(15/390*100vw);
	}
	.hero-row-1 img {
		width: 100%;
	}

	.hero-welcome {
		row-gap: calc(20/390*100vw);
		width: calc(298/390*100vw);
	}

	.hero-welcome h1 {
		font-size: calc(24/390*100vw);
		line-height: calc(29/390*100vw);
		text-align: center;
	}

	.hero-welcome h1 span:nth-child(1) {
		font-size: calc(36/390*100vw);
		line-height: calc(44/390*100vw);
	}
	.hero-welcome h1 span:nth-child(2) {
		font-size: calc(32/390*100vw);
		line-height: calc(49/390*100vw);
	}

	.hero-welcome p {
		display: none;
	}

	.hero-welcome a {
		font-size: calc(14/390*100vw);
		line-height: calc(17/390*100vw);
		width: calc(292/390*100vw);
		height: calc(52/390*100vw);
	}
	.hero-welcome a::after {
		display: none;
	}

	
	.bg-line-bunch{
		transform: translate(20%, 76%) scale(3.1);
	}
	.bg-line-left {
		display: none;
	}

	.hero-row-2 {
		padding: 0;
	}

	.hero-support {
		width: 100%;
		height: calc(109/390*100vw);
	}

	.hero-support::before {
		content: url(../icons/carousel-arrow.svg);
		width: calc(22.5/390*100vw);
		height: calc(22.5/390*100vw);
		margin-left: calc(8/390*100vw);
	}
	.hero-support::after {
		content: url(../icons/carousel-arrow.svg);
		width: calc(22.5/390*100vw);
		height: calc(22.5/390*100vw);
		margin-right: calc(8/390*100vw);
		transform: rotate(180deg);
	}

	.support-card {
		column-gap: calc(10/390*100vw);
		padding: calc(20/390*100vw) calc(22/390*100vw);
	}

	.support-card:nth-child(1) img {
		width: calc(30/390*100vw);
	}
	.support-card:nth-child(2) img {
		width: calc(40/390*100vw);
	}
	.support-card:nth-child(3) img {
		width: calc(48/390*100vw);
	}

	.support-card p {
		display: none;
	}

	.support-card a {
		white-space: normal;
		font-size: calc(14/390*100vw);
		line-height: calc(17/390*100vw);
	}

	.support-card:nth-child(2) {
		display: none;
	}
	.support-card:nth-child(3) {
		display: none;
	}
}