/*GENERAL========================================================================*/

:root {
	--ff-main: "Montserrat", sans-serif;

	--fw-reg: 400;
	--fw-bold: 700;

	--fz-1: calc(12/1440*100vw);
	--fz-2: calc(14/1440*100vw);
	--fz-3: calc(16/1440*100vw);
	--fz-4: calc(24/1440*100vw);
	--fz-5: calc(32/1440*100vw);
	--fz-6: calc(36/1440*100vw);
	--fz-7: calc(40/1440*100vw);
	--fz-8: calc(46/1440*100vw);

	--color-main-light: #FFFFFF;
	--color-main-dark: #343045;
	--color-bg: #302C42;
}

body {
	position: relative;
	font-family: var(--ff-main);
	background-color: var(--color-bg);
}

a{
	text-decoration: none;
}

ul {
	list-style: none;
}

.button-gradient {
	font-weight: var(--fw-bold);
	font-size: var(--fz-1);
	color: var(--color-main-dark);
	text-transform: uppercase;
	background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
	border-radius: 40px;
}

/*HEADER========================================================================*/

header,
header > *,
nav[role="primary"],
nav[role="primary"] > *,
a {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}

header {
	position: absolute;
	inset: auto 0;
	column-gap: calc(205/1440*100vw);
	padding: calc(50/1440*100vw) calc(84/1440*100vw) 0;
}

nav[role="primary"] {
	column-gap: calc(140/1440*100vw);
}

.header-logo {
	column-gap: calc(15/1440*100vw);
}

.header-logo img:nth-child(1) {
	max-width: calc(102/1440*100vw);
}
.header-logo img:nth-child(2) {
	max-width: calc(76/1440*100vw);
}

.nav-left {
	column-gap: calc(41/1440*100vw);
}

.nav-left li a {
	font-weight: var(--fw-bold);
	font-size: var(--fz-1);
	color: var(--color-main-light);
	text-transform: uppercase;
}

.nav-right {
	column-gap: calc(38/1440*100vw);
}

.nav-right li a {
	width: calc(155/1440*100vw);
	height: calc(48/1440*100vw);
}

.nav-right li:nth-child(1) a {
	font-weight: var(--fw-bold);
	font-size: var(--fz-1);
	color: var(--color-main-light);
	text-transform: uppercase;
	border: 2px solid var(--color-main-light);
	border-radius: 40px;
}

/*HERO========================================================================*/

#hero {
	position: relative;
	padding-bottom: calc(63/1440*100vw);
}

.hero-row-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: calc(265/1440*100vw) calc(102/1440*100vw) calc(103/1440*100vw) calc(84/1440*100vw);
}

.hero-row-1 img {
	width: calc(490/1440*100vw);
}

.hero-welcome {
	display: flex;
	flex-direction: column;
	width: calc(456/1440*100vw);
}

.hero-welcome h1  {
	font-weight: var(--fw-bold);
	font-size: var(--fz-7);
	line-height: calc(49/1440*100vw);
	color: var(--color-main-light);
	margin-bottom: calc(36/1440*100vw);
}

.hero-welcome h1 span {
	font-weight: inherit;
	font-size: var(--fz-8);
	line-height: calc(56/1440*100vw);
	background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.hero-welcome p {
	font-weight: var(--fw-reg);
	font-size: var(--fz-3);
	line-height: calc(20/1440*100vw);
	color: var(--color-main-light);
	margin-bottom: calc(65/1440*100vw);
}

.hero-welcome a {
	position: relative;
	width: calc(214/1440*100vw);
	height: calc(48/1440*100vw);
}

.hero-welcome a::after {
	content: '';
	position: absolute;
	right: -40%;
	width: calc(42/1440*100vw);
	height: calc(33/1440*100vw);
	background: url(../icons/arrow.svg) center center / cover no-repeat;
}

.hero-row-2 {
	padding: 0 calc(84/1440*100vw) calc(63/1440*100vw);
}

.hero-support {
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
	border-radius: 90px;
	padding: calc(25/1440*100vw) 0;
}

.support-card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: calc(15/1440*100vw);
	padding: calc(35/1440*100vw) calc(50/1440*100vw);
}

.support-card:nth-child(1) {
	padding-left: 0;
}
.support-card:nth-child(3) {
	padding-right: 0;
}

.support-card-descr {
	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: calc(9/1440*100vw);
}

.support-card p {
	font-weight: var(--fw-bold);
	font-size: var(--fz-4);
	line-height: calc(29/1440*100vw);
	color: var(--color-main-light);
}

.support-card a {
	display: block;
	font-weight: var(--fw-reg);
	font-size: var(--fz-2);
	line-height: calc(17/1440*100vw);
	color: var(--color-main-light);
}

.support-card:nth-child(2) {
	border: solid rgba(192, 183, 232, 0.33);
	border-width: 0 1px;
}

.bg-line-bunch {
	width: calc(735/1440*100vw);
	height: calc(845/1440*100vw);
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	background: url(../img/bg-lines-bunch.png) 0 0 / cover no-repeat;
}

.bg-line-left {
	width: calc(238/1440*100vw);
	height: calc(561/1440*100vw);
	position: absolute;
	top: 26%;
	left: 0;
	z-index: -1;
	background: url(../img/bg-line-left.png) 0 0 / cover no-repeat;
}